@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
  background-color: rgba(251, 242, 229, 0.122);
}

li,
.active {
  @apply text-blue-700  bg-black/5 duration-400 py-1 px-3.5 rounded-lg;
}
